.cardBrand img {
  width: 100%;
  height: auto;
  max-height: 100%;
  object-fit: contain;
}

.cardBrand {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
  margin: 10px;
  text-align: center;
  font-family: arial;
  float: left;
  border: 1px thin #ccc;
  transition: transform 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.cardBrand::before {
  content: "";
  position: absolute;
  top: 0;
  left: -450px;
  width: calc(100% + 20px);
  height: 100%;
  background: rgba(11, 0, 0, 0.3);
  transform: skewX(-30deg);
  transition: 0.5s;
}

.cardBrand:hover::before {
  left: 420px;
  background: rgba(11, 0, 0, 0.3);
  transition: 0.5s;
}

.sponsors h2 {
  font-size: 20px;
  font-weight: 900;
  color: #08b2aa;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: "Montserrat", sans-serif;
}
